<?xml version="1.0" encoding="utf-8"?>
<!-- used ONLY to configure IIS/Kestrel integration-->
<configuration>
  <system.webServer>
    <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>   
    <aspNetCore processPath=".\ProCare.API.Claim.DLL"
                      stdoutLogEnabled="false"
                      stdoutLogFile="\\?\%home%\LogFiles\stdout" />
    <!--aspNetCore processPath="bin\IISSupport\VSIISExeLauncher.exe" arguments="-argFile IISExeLauncherArgs.txt" forwardWindowsAuthToken="false" stdoutLogEnabled="false" />-->
  </system.webServer>
</configuration>